<template>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="panel panel-default">
      <div class= "panel-body item ">
            <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>

</script>

<style>
  .panel-body {
    font-family: fantasy, cursive;
    font-size: 24px;

  }
  .item {
    cursor: pointer;
  }
  .item:hover{
    background-color: lightblue;
  }
</style>
