<template>
  <div class="row">
      <app-item v-for="(item, index) in items"> {{ item }}
          <button v-on:click="deleteItem(index)">Delete</button>
          <textarea class="form-control" rows="1" v-model="newVal"></textarea>
          <button v-on:click="editItem(index)">Edit</button>
      </app-item>


  </div>
</template>

<script>
import Item from "./Item.vue";
  export default {
    data: function() {
      return {
        newVal: ''
      };
    },

    props: ['items'],
    components: {
      appItem: Item
    },
    methods: {
      deleteItem(index) {
        this.$emit('itemDeleted', index);
      },
      editItem(index) {

        this.$emit('itemEdited', this.newVal, index);
        this.newVal = '';
      }
    }
  }
</script>

<style>

</style>
