<template>
    <div class="container">
      <app-new-item @itemAdded="newItem"></app-new-item>
      <app-item-grid :items="items" @itemDeleted = "deleteItem" @itemEdited = "editItem"></app-item-grid>
      <div class="row">
        <div class="col-sm-12">

        </div>
      </div>
    </div>
</template>

<script>
    import ItemGrid from './components/ItemGrid.vue';
    import NewItem from './components/NewItem.vue';

    export default {
        data: function() {
            return {
              items: [
                'Go to the bank.'
              ]
            }
          },
          methods: {
            newItem(item) {
              this.items.push(item);
            },
            deleteItem(index) {
              this.items.splice(index, 1);
            },
            editItem(newVal, index) {
              this.items[index] = newVal;
            }

          },
          components: {
              appItemGrid: ItemGrid,
              appNewItem: NewItem
          }
    }
</script>

<style>
</style>
